<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--组件样式-->
    <link rel="stylesheet" href="lib-master/theme-chalk/index.css">
    <!--vue js样式-->
    <script src="js/vue.js" type="text/javascript"></script>
    <!--组件js样式-->
    <script src="lib-master/index.js" type="text/javascript" charset="UTF-8"></script>
    <!--数据访问-->
    <script type="text/javascript" src="axios-master/dist/axios.min.js"></script>


    <link rel="stylesheet" href="css/layui.css">
    <script type="text/javascript" src="js/layui.js"></script>
</head>
</head>
<body>
<input type="hidden" id="projectName" th:value="${projectName}"/>
<div class="layui-form" id="app">
    <el-form ref="form" :model="form">
    <table class="layui-table"style="text-align: center;">
        <colgroup>
            <col width="16%">
            <col width="34%">
            <col>
        </colgroup>
        <tr>
            <td colspan="4" style="font-weight: 700;" class="td-one">
                <el-tooltip class="item" effect="dark" content="项目查询" placement="top-start">
                    <el-button style="float: left" size="small" @click="query()">项目查询</el-button>
                </el-tooltip><div style="margin-right: 5%"><h1>立项信息表</h1></div></td>

        </tr>
        <!--第二行-->
        <tr>
            <td colspan="4" style="font-weight: 400"><h2>基本信息</h2></td>
        </tr>
        <!--第三行-->
        <tr>
            <td class="td-one">项目编号(自动生成)：</td>
            <td><el-input  v-model="form.id" clearable readonly="readonly" class="elInput"></el-input></td>
            <td class="td-one">项目名称：</td>
            <td><el-input placeholder="请输入项目名称" v-model="form.projectName" clearable class="elInput"></el-input></td>
        </tr>
        <!--    第四行-->
        <tr>
            <td class="td-one">计划开始时间：</td>
            <td><el-input placeholder="选择日期" v-model="form.input" clearable type="date" class="elInput"></el-input></td>
            <td class="td-one">计划结束时间：</td>
            <td><el-input placeholder="选择日期" v-model="form.input" clearable type="date" class="elInput"></el-input></td>
        </tr>
        <!--    第五行-->
        <tr>
            <td class="td-one">所属地区：</td>
            <td><el-input placeholder="请输入所属地区" v-model="form.input" clearable class="elInput"></el-input></td>
            <td class="td-one">项目地址</td>
            <td><el-input placeholder="请输入项目地址" v-model="form.projectAddress" clearable class="elInput"></el-input></td>
        </tr>
        <!--    第六行-->
        <tr>
            <td class="td-one">工程工期：</td>
            <td><el-input placeholder="请输入工程工期" v-model="form.projectPeriod" clearable class="elInput"></el-input></td>
            <td class="td-one">工程量估算：</td>
            <td><el-input placeholder="请输入工程量估算" v-model="form.input" clearable class="elInput"></el-input></td>
        </tr>
        <!--    第七行-->
        <tr>
            <td class="td-one">工程造价：</td>
            <td><el-input placeholder="请输入工程造价" v-model="form.projectCost" clearable class="elInput"></el-input></td>
            <td class="td-one">预期利润：</td>
            <td><el-input placeholder="请输入预期利润" v-model="form.espectProfit" clearable class="elInput"></el-input></td>
        </tr>
        <!--   第八行 -->
        <tr>
            <td class="td-one">造价(大写)：</td>
            <td><el-input placeholder="请输入" v-model="form.costUpper" clearable class="elInput"></el-input></td>
            <td class="td-one">项目类型：</td>
            <td><el-input placeholder="请输入项目类型" v-model="form.projectStatus" clearable class="elInput"></el-input></td>
        </tr>
        <!--   第九行 -->
        <tr>
            <td class="td-one">质量等级：</td>
            <td><el-input placeholder="请输入质量等级" v-model="form.qualityLevel" clearable class="elInput"></el-input></td>
            <td class="td-one">项目跟踪人：</td>
            <td><el-input placeholder="请输入项目跟踪人" v-model="form.projectTacker" clearable class="elInput"></el-input></td>
        </tr>
        <!--    第十行-->
        <tr>
            <td class="td-one">项目状态：</td>
            <td><el-input placeholder="请输入项目状态" v-model="form.projectStatus" clearable class="elInput"></el-input></td>
            <td colspan="2">&nbsp;</td>
        </tr>
        <!--   第十一行 -->
        <tr>
            <td colspan="4" style="font-weight: 400"><h2>建设单位基本资料</h2></td>
        </tr>
        <!--   第十二行 -->
        <tr>
            <td class="td-one">建设单位：</td>
            <td><el-input placeholder="请输入建设单位" v-model="form.buildCompany" clearable class="elInput"></el-input></td>
            <td class="td-one">联系人：</td>
            <td><el-input placeholder="请输入联系人" v-model="form.contactor" clearable class="elInput"></el-input></td>
        </tr>
        <!--   第十三行 -->
        <tr>
            <td class="td-one">联系方式：</td>
            <td><el-input placeholder="请输入联系方式" v-model="form.contactPhone" clearable class="elInput"></el-input></td>
            <td class="td-one">联系地址：</td>
            <td><el-input placeholder="请输入联系地址" v-model="form.contactAddress" clearable class="elInput"></el-input></td>
        </tr>
        <!--   第十四行 -->
        <tr>
            <td colspan="4" style="font-weight: 400"><h2>立项人基本资料</h2></td>
        </tr>
        <!--   第十五行 -->
        <tr>
            <td class="td-one">立项人：</td>
            <td><el-input placeholder="请输入立项人" v-model="form.creator" clearable class="elInput"></el-input></td>
            <td class="td-one">部门：</td>
            <td><el-input placeholder="请输入部门" v-model="form.input" clearable class="elInput"></el-input></td>
        </tr>
        <!--   第十六行 -->
        <tr>
            <td class="td-one">联系电话：</td>
            <td><el-input placeholder="请输入联系电话" v-model="form.contactPhone" clearable class="elInput"></el-input></td>
            <td class="td-one">所属机构：</td>
            <td><el-input placeholder="请输入所属机构" v-model="form.input" clearable class="elInput"></el-input></td>
        </tr>
        <!--    第十七行-->
        <tr>
            <td class="td-one">备注：</td>
            <td colspan="3"><el-input type="textarea" :autosize="{ minRows: 2, maxRows: 4}" placeholder="请输入内容" v-model="form.comment">
            </el-input></td>
        </tr>
        <!--   第十八行 -->
        <tr>
            <td class="td-one">附件：</td>
            <td colspan="3">&nbsp;</td>
        </tr>
    </table>
    </el-form>
</div>
</body>
<script type="text/javascript">
    new Vue({
        el:'#app',
        data:{
            form:{
                input:'',
                //日期
                value1:'',
                id:'',
                //项目名称
                projectName:'',
                //项目地址
                projectAddress:'',
                //工程工期
                projectPeriod:'',
                //工程造价
                projectCost:'',
                //造价大写
                costUpper:'',
                //    预计利润
                espectProfit:'',
                //    质量等级
                qualityLevel:'',
                //    项目跟踪人
                projectTacker:'',
                //    项目状态
                projectStatus:'',
                //建设单位
                buildCompany:'',
                //    联系人
                contactor:'',
                //    联系方式
                contactPhone:'',
                //    联系地址
                contactAddress:'',
                //    立项人
                creator:'',
                //备注
                comment:'',
                //    项目类型
                projectStatus:''
            }
        },
        methods:{
            loadTableData() {
                const vm = this;
                let value = document.getElementById("projectName").value;
                axios.get('findAllOne?projectName='+value)
                    .then(function (response) {
                            vm.form = response.data;
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
                    .then(function () {
                        // always executed
                    });
            },
            query(){
                window.location.href="http://localhost:8080/ssproject"
            }
        },
        created(){
            this.loadTableData();
        }
    })
</script>

<style type="text/css">
    .td-one{
        /*background-color:rgb(241,249,254);*/

    }
    .elInput{
        width: 50%;
        height :80%;
    }

</style>
</html>